body{
    background-image: url('/static/images/loginImage.jpg');
    background-size: cover;
    background-position: center;
}

#loginContainer{
    width: 500px;
    margin: 200px auto;
    padding: 10px;
    padding-bottom: 40px;
    background: linear-gradient(135deg, #ffffff, #e4e3e3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #000000;
}

#loginContainer h2{
    color: #333;
    margin-bottom: 50px;
    font-size: 30px;
}

#loginContainer input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#loginContainer button{
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#loginContainer button:hover{
    background-color: #45a049;
    transition: 0.3s;
    transform: translateY(-5px);
}

#registerLink{
    font-size: 16px;
}

#link{
    color: rgb(33, 4, 252);
    text-decoration: none;
    font-weight: bold;
}