body {
    background-image: url('/static/images/registrationImage.jpg');
    background-size: 100% 100%;   
    background-position: center;
    background-repeat: no-repeat;
    height: 78.5vh;
    width: 100vw;
    margin: 0;
}


#registrationContainer{
    width: 500px;
    margin: 200px auto;
    padding: 10px;
    padding-bottom: 40px;
    background: linear-gradient(135deg, #d1d0d0, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: black;
}

#registrationContainer h2{
    color: #333;
    margin-bottom: 50px;
    font-size: 30px;
}

#registrationContainer input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#registrationContainer button{
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 25px;
    background-color: #6a6b6a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#registrationContainer button:hover{
    background-color: #000000;
    transition: 0.3s;
    transform: translateY(-5px);
}

